@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>All official James Bond Movies</title>

    <link rel="stylesheet" href="~/Styles/BondMovieList.css">
</head>
<body>
    @* This is the element where the React generated content goes. *@
    <div id="react-container"></div>

    @* React v0.14.3 with all addons. *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-with-addons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-dom.min.js"></script>

    @* Local scripts *@
    <script src="~/Scripts/Data.js"></script>
    <script src="~/Scripts/BondMovieList.jsx"></script>
    <script src="~/Scripts/Main.jsx"></script>
</body>
</html>
